<template>
  <div>
    <h1>Create an Event</h1>
  </div>
</template>

<script>
export default {
  head() {
    return {
      title: 'Create an Event',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'You can create an event'
        }
      ]
    }
  }
}
</script>

<style scoped></style>
